extends layout

block content
  h1= title
  p Welcome to #{title}

  .match.container
    .row
      .col-lg-4
        .puppy
          img(src='images/1.jpg' width=180)
        .buttons
          form(method="post")
            .form-group
              .input-group
                label(for='donate').sr-only amount to donate
                .input-group-addon $
                input(name="donate").form-control.donate
              button(type="button").btn.btn-default Donate!

      .col-lg-2
        h1 VS

      .col-lg-4
        .puppy
          img(src='images/2.jpg' width=180)
        .buttons
          form
            .form-group
              .input-group
                label(for='donate').sr-only amount to donate
                .input-group-addon $
                input(name="donate").form-control.donate
              button(type="button").btn.btn-default Donate!


