extends layout

block content
  h1= title
  p Welcome to #{title}
  .puppy
    img(src='images/1.jpg' width=180)
    .buttons
      .input-group
        .input-group-addon $
        input.form-control.donate
      button.btn.btn-default(type="button") test
  .puppy
    img(src='images/2.jpg' width=180)
  .puppy
    img(src='images/3.jpg' width=180)
  .puppy
    img(src='images/4.jpg' width=180)
  .puppy
    img(src='images/5.jpg' width=180)
