@import "/bootstrap/dist/css/bootstrap.min.css";
@import "/bootstrap/dist/css/bootstrap-theme.min.css";
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.match .input-group {
  margin: 10px 0px;
}
.match .row {
  border-top: 1px solid #aaa;
}
.match .row:nth-child(2n) {
  background-color: #ddd;
}
.match .buttons {
  margin-bottom: 1em;
}
.error {
  color: #d44950;
}
